{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row border-bottom w-100 mb-5">
        <div class="col-10">
            <h1>Hello student!</h1>
        </div>
        <div class="col-2">
            <a class="btn btn-light border" href="/time-table">Time Table</a>
        </div>
    </div>
    <div class="row">
        <div class="col-4 p-2">
            <div class="px-3 bg-light bg-gradient rounded-4 shadow">
                {% if sub_list|length > 0 %}
                <ul class="list-group">
                    <h3 class="h3 my-3">Subject List</h3>
                    {% for sub in sub_list %}
                    <li class="list-group-item">
                        {{sub.name}} ({{sub.subject_code}}) 
                        <a href="/report/{{sub.id}}" class="btn btn-sm btn-primary py-0">Details</a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="pt-3">No subjects added !</p>
                {% endif %}
                <a class="btn btn-dark my-3" href="/add-subject">Add Subject</a>
            </div>
        </div>
        <div class="col-8 p-2">
            <div class="px-3 bg-white bg-gradient rounded-4 shadow">
                <ul class="list-group">
                    <div class="d-flex my-3 justify-content-between align-items-center">
                        <h3 class="h3  mb-0 pb-0">Today's schedule</h3>
                        {% if holiday_avl %}
                        <a href="/holiday" class="btn btn-light border fw-bold fst-italic">Mark holiday</a>
                        {% endif %}
                    </div>
                    
                    <h5 class="text-muted lead">{{today}}</h5>
                    {% if time_table|length > 0 %}
                    <table class="table table-bordered">
                        <tbody>
                            {% for tt in time_table %}
                            <tr>
                                <td class="fw-bold">{{tt.time_slot.start_time}} - {{tt.time_slot.end_time}}</td>
                                <td>
                                    {% if tt.sid %}
                                    {{tt.sid.name}} ({{tt.sid.subject_code}})
                                    {% else %}
                                    <span class="badge bg-success">No class</span>
                                    {% endif %}
                                </td>
                                
                                <td class="fs-5 text-center">
                                    {% if tt.sid%}
                                        {% if tt.marked %}
                                            {% if tt.status.id == 1 %}    
                                            <span class="badge bg-primary">
                                            {% elif tt.status.id == 2 %}
                                            <span class="badge bg-secondary">
                                            {% elif tt.status.id == 3 %}
                                            <span class="badge bg-danger">
                                            {% endif %}
                                                {{tt.status.status}}
                                            </span>
                                        {% else %}
                                        <button data-tt_id="{{tt.id}}" data-status="1" class="status-btn rounded-4 btn btn-sm btn-primary">Present</button>
                                        <button data-tt_id="{{tt.id}}" data-status="2" class="status-btn rounded-4 btn btn-sm btn-secondary">Absent</button>
                                        <button data-tt_id="{{tt.id}}" data-status="3" class="status-btn rounded-4 btn btn-sm btn-danger">Mass Bunk</button>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h1 class=" text-center pt-3">No classes today !</p>
                    {% endif %}
                </ul>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
    all_status_btn = document.querySelectorAll('.status-btn');
    all_status_btn.forEach(btn => btn.addEventListener('click', function(e){
        fetch("/mark-attendance", {
            method : 'POST',
            body : JSON.stringify({
                tt_id : e.target.dataset.tt_id,
                status : e.target.dataset.status
            })
        }).then(res => {
            if(res.ok)
                window.location.reload();
        })
    }))
</script>
{% endblock %}